<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="index.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" integrity="sha512-PgQMlq+nqFLV4ylk1gwUOgm6CtIIXkKwaIHp/PAIWHzig/lKZSEGKEysh0TCVbHJXCLN7WetD8TFecIky75ZfQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/brands.min.css" integrity="sha512-SFyAczXIjDD7PVlzleuYRQ1jGCwnm4RnN+O5+L62Od3MJxHBsB0HmtMOdewV9CZWOz+ACu2CHOvF+5/yHagcwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    
    <title>Focus 4 Data</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

</head>
<body>
    <module href="/components/header.html"></module>
    <main>
        <module href="/components/about.html"></module>
        <module href="/components/what-do.html"></module>
        <module href="/components/tech.html"></module>
        <module href="/components/solutions.html"></module>
        <module href="/components/areas.html"></module>
        <module href="/components/partner.html"></module>
    </main>

    
    <script src="bundle.js" ></script>
    <script>
        jQuery(document).ready(function() {
            // Only trigger .click() event when the link points to an internal anchor
            $("header a[href^='#']").click(function(e) {

            // Get the ID of the target
            var target = $(this).attr("href");

            // Animated scrolling to the vertical offset of the target element
            // PLUS the outer height of the <header> element
            $("html, body").animate({
                scrollTop: $(target).offset().top - $("header").outerHeight()
            });
            
            if (!$(".navsmall").hasClass("not-open")) {
                $(".navsmall").toggleClass("not-open");
            }

            // Prevent default scrolling action
            // (I didn't use return false, because it stops event bubbling, too)
            e.preventDefault();
            });

            $(".menuicon").click(function(e) {
                $(".navsmall").toggleClass("not-open");

                e.preventDefault();
            })
        });
    </script>
</body>
</html>