.header {
    background-color: #2d3036;
    box-shadow: -1px 1px 3px 0 #202020;
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;

    &_content {
        align-items: center;
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
        max-width: 1280px;
        padding: 10px 16px;
        position: relative;
    }
}

.brand {
    display: block;
    max-width: 250px;

    img {
        display: block;
        width: 100%;
    }

    @media screen and (max-width: 980px) {
        min-width: 200px;
    }
}

.navbar {
    display: block;
    flex-grow: 1;
    margin: 0 16px;
    position: relative;

    nav {
        align-items: center;
        cursor: pointer;
        display: flex;
        justify-content: flex-end;
        width: 100%;

        .item {
            border-right: 1px solid #3c4149;
            cursor: pointer;
            display: block;
            padding: 0 10px;

            &::after {
                background-color: #2d3036;
                content: " ";
                display: block;
                height: 2px;
                transition: all linear 0.3s 0s;
                width: 100%;
            }

            &:hover {
                &::after {
                    background-color: #e83e66;
                    transition: all linear 0.3s 0s;
                }
            }

            @media screen and (min-width: 980px) and (max-width: 1190px) {
                font-size: 14px;
            }
        }
    }
}

.socials {
    display: block;

    .linkedin {
        display: block;

        .fab {
            font-size: 18px;
        }

        &:hover {
            cursor: pointer;

            .fab {
                color: #e83e66;
            }
        }
    }
}

.leaguage {
    display: block;
    margin-left: 16px;

    a:hover {
        color: #e83e66;
    }

    @media screen and (min-width: 980px) and (max-width: 1190px) {
        font-size: 14px;
    }
}

.only-small {
    display: none;

    @media screen and (max-width: 980px) {
        display: block;
    }

    .fa-bars {
        font-size: 20px;
    }
}

.only-big {
    @media screen and (max-width: 980px) {
        display: none;
    }
}

.navsmall {
    align-items: flex-end;
    background-color: #2d3036;
    display: none;
    flex-flow: column nowrap;
    justify-content: flex-end;
    position: absolute;
    top: 0;
    transition: all 0.3s 0.2s linear;
    right: 0;
    z-index: 99;

    .close {
        cursor: pointer;
        display: block;
        padding: 30px 20px;
    }

    .navbar {
        nav {
            align-items: flex-end;
            flex-flow: column nowrap;

            .item {
                margin-bottom: 10px;
            }
        }
    }

    .navsmall-align {
        align-items: center;
        display: flex;
        padding: 20px;
    }

    &.not-open {
        right: -200px;
        transition: all 0.3s 0.2s linear;
    }

    @media screen and (max-width: 980px) {
        display: flex;
    }
}

.flexfix {
    flex: 1;
    justify-content: flex-end;
    display: flex;
}
