<div class="aboutus" id="aboutus">
    <div class="content">
        <div class="aboutus-grid">
            <div class="text">
                <h2>
                    QUEM SOMOS
                </h2>
                <p>
                    Somos uma empresa de consultoria com 13 anos de experiência e atuação nos mercados brasileiro, americano e europeu. 
                </p>
                <p>
                    Nosso objetivo é transpor fronteiras e aproximar os melhores profissionais às melhores oportunidades, onde quer que eles estejam, em busca do melhor custo-benefício em soluções de TI.
                </p>
            </div>
            <div class="image">
                <img src="images/01.jpeg" alt="">
            </div>
        </div>
    </div>
</div>