<div class="aboutus" id="aboutus">
    <div class="content">
        <div class="aboutus-grid">
            <div class="text">
                <h2>
                    ABOUT US
                </h2>
                <p>
                    We are a consulting company with 13 years of experience in the Brazilian, American and European markets.
                </p>
                <p>
                    Our objective is to cross borders and bring the best professionals closer to the best opportunities, wherever they are, and always in search of the best cost-benefit in IT solutions.
                </p>
            </div>
            <div class="image">
                <img src="images/01.jpeg" alt="">
            </div>
        </div>
    </div>
</div>