<div class="areas" id="areas">
    <div class="content">
        <div class="title">
            <h2>Áreas de Atuação</h2>
        </div>
        <div class="areas-list">
            <div class="list-item">
                <div class="icon">
                    <i class="fas fa-phone"></i>
                </div>
                <p class="name">Telecomunicações</p>
            </div>
            <div class="list-item">
                <div class="icon">
                    <i class="fas fa-bullhorn"></i>
                </div>
                <p class="name">Setor Público</p>
            </div>
            <div class="list-item">
                <div class="icon">
                    <i class="fas fa-dollar-sign"></i>
                </div>
                <p class="name">Serviços financeiros</p>
            </div>
            <div class="list-item">
                <div class="icon">
                    <i class="fas fa-coins"></i>
                </div>
                <p class="name">Bancas</p>
            </div>
            <div class="list-item">
                <div class="icon">
                    <i class="fas fa-plane"></i>
                </div>
                <p class="name">Companhias Aéreas</p>
            </div>
            <div class="list-item">
                <div class="icon">
                    <i class="fas fa-car"></i>
                </div>
                <p class="name">Automobilísticos</p>
            </div>
            <div class="list-item">
                <div class="icon">
                    <i class="fas fa-user-shield"></i>
                </div>
                <p class="name">Segurança pública</p>
            </div>
            <div class="list-item">
                <div class="icon">
                    <i class="fas fa-dolly"></i>
                </div>
                <p class="name">Retalho</p>
            </div>
            <div class="list-item">
                <div class="icon">
                    <i class="fas fa-industry"></i>
                </div>
                <p class="name">Indústria</p>
            </div>
            <div class="list-item">
                <div class="icon">
                    <i class="fas fa-graduation-cap"></i>
                </div>
                <p class="name">Educacional</p>
            </div>
            <div class="list-item">
                <div class="icon">
                    <i class="fas fa-shield-alt"></i>
                </div>
                <p class="name">Seguradoras</p>
            </div>
            <div class="list-item">
                <div class="icon">
                    <i class="fas fa-building"></i>
                </div>
                <p class="name">Empresas públicas</p>
            </div>
        </div>
    </div>
</div>