<header class="header">
    <div class="header_content">
        <div class="brand">
            <img src="images/logo-branca.png" alt="">
        </div>
        <div class="only-small menuicon">
            <i class="fas fa-bars"></i>
        </div>
        <div class="navbar only-big">
            <nav>
                <a href="#aboutus" class="item">About us</a>
                <a href="#what" class="item">What we do</a>
                <a href="#tech" class="item">Technologies</a>
                <a href="#solutions" class="item">Solution</a>
                <a href="#areas" class="item">Areas of expertise</a>
                <a href="#partner" class="item">Partners</a>
            </nav>
        </div>
        <div class="socials only-big">
            <a href="#" class="linkedin">
                <i class="fab fa-linkedin"></i>
            </a>
        </div>
        <div class="leaguage only-big">
            <a href="https://focus4data-website.vercel.app/" class="linkedin">
                Português
            </a>
        </div>
        <div class="navsmall not-open">
            <div class="only-small">
                <span class="close menuicon">X</span>
            </div>
            <div class="navbar">
                <nav>
                    <a href="#aboutus" class="item">About us</a>
                    <a href="#what" class="item">What we do</a>
                    <a href="#tech" class="item">Technologies</a>
                    <a href="#solutions" class="item">Solution</a>
                    <a href="#areas" class="item">Areas of expertise</a>
                    <a href="#partner" class="item">Partners</a>
                </nav>
            </div>
            <div class="navsmall-align">
                <div class="socials">
                    <a href="#" class="linkedin">
                        <i class="fab fa-linkedin"></i>
                    </a>
                </div>
                <div class="leaguage">
                    <a href="https://focus4data-website.vercel.app/" class="linkedin">
                        Português
                    </a>
                </div>
            </div>
        </div>
    </div>
</header>