<header class="header">
    <div class="header_content">
        <div class="brand">
            <img src="images/logo-branca.png" alt="">
        </div>
        <div class="navbar">
            <nav>
                <a href="#aboutus" class="item">Quem Somos</a>
                <a href="#what" class="item">O Que Fazemos</a>
                <a href="#tech" class="item">Tecnologias</a>
                <a href="#solutions" class="item">Soluções</a>
                <a href="#areas" class="item">Áreas de Atuação</a>
                <a href="#partner" class="item">Parceiros</a>
            </nav>
        </div>
        <div class="socials">
            <a href="#" class="linkedin">
                <i class="fab fa-linkedin"></i>
            </a>
        </div>
    </div>
</header>