<footer id="partner">
    <div class="content">
        <div class="footer-content">
            <div class="partner">
                <div class="title">Partners:</div>
                <div class="items-list">
                    <div class="item">
                        <div class="logo">
                            <img src="images/p1.jpeg" alt="">
                        </div>
                    </div>
                    <div class="item">
                        <div class="logo">
                            <img src="images/p2.png" alt="">
                        </div>
                    </div>
                    <div class="item">
                        <div class="logo">
                            <img src="images/p3.png" alt="">
                        </div>
                    </div>
                    <div class="item">
                        <div class="logo">
                            <img src="images/p4.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="contacts">
                <div class="title">Contacts:</div>
                <div class="email">e-mail: <a href="mailto:geral@focus4data.com">geral@focus4data.com</a></div>
                <div class="phone">Telephone and Whattsapp: <a href="http://wa.me/+351211653263">(351) 211 653 263</a></div>
                <div class="linkedin">
                    <a href="https://www.linkedin.com/company/focus4data-solutions/about/" target="_blank">
                        <i class="fab fa-linkedin"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</footer>