<div class="solutions">
    <div class="content">
        <div class="solutions-content">
            <div class="title">
                <h2>SOLUÇÕES</h2>
            </div>
            <div class="itemslist">
                <div class="item">
                    <div class="image">
                        <img src="images/dados.png" alt="">
                    </div>
                    <div class="text">Integração de dados</div>
                </div>
                <div class="item">
                    <div class="image">
                        <img src="images/bi.png" alt="">
                    </div>
                    <div class="text">Análise de BI</div>
                </div>
                <div class="item">
                    <div class="image">
                        <img src="images/cloud.png" alt="">
                    </div>
                    <div class="text">Cloud</div>
                </div>
            </div>
        </div>
    </div>
</div>