<div class="tech" id="tech">
    <div class="content">
        <div class="title">
            <h2>Technologies</h2>
        </div>
        <div class="logos">
            <div class="item square">
                <img src="images/aws.png" alt="">
            </div>
            <div class="item">
                <img src="images/fivetran.png" alt="">
            </div>
            <div class="item square">
                <img src="images/ibm.png" alt="">
            </div>
            <div class="item">
                <img src="images/micro.png" alt="">
            </div>
            <div class="item">
                <img src="images/ms.png" alt="">
            </div>
        </div>
        <div class="logos">        
            <div class="item">
                <img src="images/oracle.png" alt="">
            </div>
            <div class="item square">
                <img src="images/sap.png" alt="">
            </div>
            <div class="item">
                <img src="images/snow.png" alt="">
            </div>
            <div class="item">
                <img src="images/streamsets.png" alt="">
            </div>
            <div class="item">
                <img src="images/talend.png" alt="">
            </div>
            <div class="item">
                <img src="images/teradata.png" alt="">
            </div>
        </div>
    </div>
</div>