<div class="whatdo" id="what">
    <div class="content">
        <div class="whatdo_title">
            <h2>O que fazemos</h2>
        </div>
        <div class="whatdo-content">
            <div class="block">
                <div class="title">
                    <h3>NEARSHORE PORTUGAL</h3>
                </div>
                <div class="text">
                    <p>
                        Identificamos os recursos mais adequados para cada posição, auxiliamos o processo migratório quando necessário, tudo para satisfazer os clientes que preferem a proximidade com os seus colaboradores.
                    </p>
                </div>
            </div>
            <div class="block">
                <div class="title">
                    <h3>OFFSHORE BRASIL</h3>
                </div>
                <div class="text">
                    <p>
                        Dispomos de um sólido e diversificado network, que nos permite oferecer recursos especializados e experientes a preços competitivos, para atender projetos full remote sem abrir mão da qualidade.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>