<div class="whatdo" id="what">
    <div class="content">
        <div class="whatdo_title">
            <h2>What we do</h2>
        </div>
        <div class="whatdo-content">
            <div class="block">
                <div class="title">
                    <h3>NEARSHORE PORTUGAL</h3>
                </div>
                <div class="text">
                    <p>
                        We identify the most suitable resources for each position, we assist the migration process when necessary, all to satisfy customers who prefer proximity to their employees.
                </div>
            </div>
            <div class="block">
                <div class="title">
                    <h3>OFFSHORE BRASIL</h3>
                </div>
                <div class="text">
                    <p>
                        We have a solid and diversified network which allows us to offer specialized and experienced resources at competitive prices, to attend full remote projects without sacrificing quality.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>